.App {
  text-align: center;
}

@font-face {
  font-family: 'KronaOne-Regular';
  src: local('KronaOne-Regular'), url(./fonts/KronaOne-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'CormorantGaramond-Regular';
  src: local('CormorantGaramond-Regular'), url(./fonts/CormorantGaramond-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Gotu-Regular';
  src: local('Gotu-Regular'), url(./fonts/Gotu-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'YesevaOne-Regular';
  src: local('YesevaOne-Regular'), url(./fonts/YesevaOne-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'WorkSans-Regular';
  src: local('WorkSans-Regular'), url(./fonts/WorkSans-Regular.ttf) format('truetype');
}

h1 {
  font-family: 'YesevaOne-Regular';
}

body {
  font-family: 'WorkSans-Regular';
  margin: 0;
  color: rgba(33, 18, 4);
  background-color:rgba(222, 226, 223);
}

section {
  padding: 20px;
  border-color: rgba(33, 18, 4);
  justify-content: space-around;
}

aside {
  padding: 20px;
  border-color: rgba(33, 18, 4);
  justify-content: space-around;
}

footer {
  padding: 20px;
  height: 40px;
  justify-content: center;
  background-color: rgb(23, 46, 30);
  color: rgba(220, 220, 221);
}

.nav {
  position: sticky;
  align-self: flex-start;
  top: 0;
  background-color: rgba(68, 89, 77);
  height: 70px;
  color: rgba(220, 220, 221);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  padding: 0 1rem;
}

.title {
  font-size: 40px;
}

.nav a:hover {
  border-style: groove;
  box-shadow: inset 300px 0 0 0 rgba(220, 220, 221);
  color: rgb(33, 38, 45);
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 3rem;
}

.content {
  height: 100%;
  display: grid;
  grid-template-areas: 'info myphoto'
                        'exp expdiag'
                        'pf .';
}


